*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#07111f;
    color:white;
}

header{
    padding:20px 80px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:#3b82f6;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:30px;
}

nav ul li a{
    text-decoration:none;
    color:white;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px;
    min-height:90vh;
}

.hero-text{
    width:50%;
}

.hero-text h3{
    color:#3b82f6;
    margin-bottom:10px;
}

.hero-text h1{
    font-size:80px;
    margin-bottom:10px;
}

.hero-text h2{
    color:#3b82f6;
    margin-bottom:20px;
}

.hero-text p{
    margin-bottom:30px;
    line-height:1.6;
}

button{
    padding:15px 30px;
    border:none;
    background:#3b82f6;
    color:white;
    border-radius:8px;
    margin-right:10px;
    cursor:pointer;
}

.contact-btn{
    background:transparent;
    border:1px solid white;
}

.hero-image img{
    width:400px;
    border-radius:20px;
}
section{
padding:100px 10%;
}

h2{
text-align:center;
font-size:40px;
margin-bottom:40px;
}

.about-card,
.project-card,
.skill-card,
.certificate-card,
.contact-box{

background:#111827;

padding:25px;

border-radius:15px;

margin-top:20px;

transition:.3s;

}

.about-card:hover,
.project-card:hover,
.skill-card:hover,
.certificate-card:hover{

transform:translateY(-10px);

box-shadow:0 0 20px #3b82f6;

}

.skills-grid,
.projects-grid,
.certificate-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}

html{

scroll-behavior:smooth;

}
